/* GENERAL */
    /* Mediaqueries */
        /* Max 900px*/
           @media (max-width:900px) { 
             .hide-mob {display:none!important}
           }
        /* Min 900px*/
           @media (min-width:900px) { 
            .hide-desk {display:none!important}
          }

#root {width:100%; margin: 0 auto;}

/* HEADER */
header { height:50px; background-color: #333333}
.navStyle{padding-top: 10px; max-width: 1500px;display:block;}

.menuStyle a {text-decoration: none; color:#efefef}
.menuStyle a:hover {text-decoration: underline; color:#dfdfdf}
.menuStyle {
width:20%;
display:flex;
flex-wrap:wrap; 
float:right;
justify-content:space-around;
margin-right:5%;
}
.menuFooter { position:fixed; bottom:0px; width:100%!important; background-color: #333333; padding-top: 10px; padding-bottom: 10px;}