/* GENERAL */
.menuStyle a {text-decoration: none; color:#efefef}
.menuStyle a:hover {text-decoration: none; color:#dfdfdf}

#root {max-width: 1500px; width:100%; margin: 0 auto;}

/* HEADER */
header {margin-top: 10px;}
.menuStyle {
width:20%;
display:flex;
flex-wrap:wrap; 
float:right;
justify-content:space-around;
margin-right:5%;
}